@font-face {
    font-family: Euclid A;
    src: url("../fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf"),
        url("../fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Euclid A", sans-serif;
}

footer{
    background-color: #181A1B;
}

footer i:hover{
    color: #A3A3A3 !important;
}

a{
    color: ghostwhite !important;
}
a:hover{
    color: #A3A3A3 !important;
}

.dropdown-menu{
    background-color: #06283d80;
}

.dropdown-item:hover{
    background-color: #dff6ffb6;
    color: whitesmoke !important;
}